[mediawiki]
# If running locally, all one user with no ssh:
#
# localhost ansible_connection=local

# If running locally, but with a different user, with ssh
# keys set up between the two:
#
# localhost ansible_ssh_user=<username>

# If running somewhere else, optional ssh_user
#
# <other_machine> ansible_ssh_user=<username>
