venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

config.py

# Ansible: secrets file, etc.
wikis/ansible/mediawiki_vars/vault.yml
wikis/ansible/mwiki-default.conf
wikis/ansible/mediawikifarmdocs/test1.yml
wikis/ansible/mediawikifarmdocs/test2.yml
