# Uncomment line and fill in.  The default is the user librehq with no password
# running on localhost.

# SQLALCHEMY_DATABASE_URI='postgresql://<user>:<pass>@<host>/librehq_core'
SQLALCHEMY_DATABASE_URI='postgresql://librehq@localhost/librehq_core'
