[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
"csv2wiki" = {git = "https://github.com/OpenTechStrategies/csv2wiki", editable = true, ref = "module-ize"}
flask-migrate = "*"


[requires]

python_version = "3.6"


[dev-packages]

"c251336" = {path = "./wikis/", editable = true}
