[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
"csv2wiki" = {git = "https://github.com/OpenTechStrategies/csv2wiki", editable = true, ref = "module-ize"}
flask-migrate = "*"
"psycopg2" = "*"
flask-mail = "*"


[requires]

python_version = "3.6"


[dev-packages]

# This path may need to be changed to an absolute path to the wikis directory.
# "/absolute/path/to/librehq-core/wikis/"
"c251336" = {path = "./wikis/", editable = true}
