myfarm:
  server: '(?<wiki>[a-z0-9]+)\.wiki.{{ wiki_hostname }}'
  variables:
    - variable: 'wiki'
  suffix: '$wiki'
  wikiID: '$wiki'
  versions: 'versions.yml'
  config:
    - file: '$wiki.yml'
      key: '$wiki'
    - file: 'remoteauthuserextension.php'
      executable: true
