<!-- header.html -->
<div class="container">
  <header>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">

      <div class="navbar-brand">
        <a class="navbar-item has-text-weight-bold" href="/">LibreHQ <em>beta</em></a>
        {% if signed_out != True %}
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        {% endif %}
      </div>

      {% if signed_out != True %}
        <div id="mainNavbar" class="navbar-menu">

          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Dashboard
            </a>
            <a class="navbar-item" href="/account">
              My Account
            </a>
          </div>

          <div class="navbar-end">
            <a class="navbar-item" href="/signout">
              Sign Out
            </a>
          </div>

        </div>
      {% endif %}

    </nav>
  </header>
</div>
<!-- end header.html -->
